.image {
    padding: 2rem;
    width: 200px;
    height: 200px;

}

body {
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

